@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(120deg, rgba(255, 255, 255, 1), rgba(240, 240, 255, 0.7)), 
              radial-gradient(circle at top right, rgba(173, 216, 230, 0.4), rgba(255, 182, 193, 0.2), rgba(255, 255, 255, 0));
  background-blend-mode: screen;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  margin: 0;
  font-family: sans-serif;
}

.aboutme {
  background-image: url('../public/bg.jpg');
  background-repeat: no-repeat;
  background-size: 100vw;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
